* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #303d4b;
}
.navBar {
  overflow: hidden;
  height: 70px;
  display: flex;
  justify-content: space-between;
}
.navBar a {
  float: left;
  color: #f2f2f2;
  text-align: right;
  padding: 27px 20px;
  text-decoration: none;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  vertical-align: middle;
  justify-content: space-between;
}

.navBar a:hover {
  background-color: rgb(255, 255, 255, 0.5);
  color: black;
}
.navBar a.active {
  text-decoration: underline;
  text-decoration-thickness: 2.1px;
  text-underline-offset: 5px;
  color: white;
  padding-left: 20px;
  background-color: none;
}
#navItems {
  float: left;
}

#logo {
  padding: 40px;
  text-align: end;
  float: right;
  right: 0px;
  align-items: flex-end;
  justify-content: right;
  padding-top: 26px;
}
.navBar a.active:hover {
  color: black;
}
#contactInfo {
  color: #ffffff;
  font-family: Georgia, "Times New Roman", Times, serif;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 70px;
  font-weight: 300;
  font-size: 28px;
  text-align: center;
}
/* 
* {
  box-sizing: border-box;
} */

.slideshow-container {
  max-width: 720px;
  position: relative;
  margin: auto;
}
.mySlides {
  display: none;
  margin-bottom: 10px;
  margin-top: 120px;
}
.mySlides2 {
  display: none;
  margin-bottom: 40px;
}
.mySlides3 {
  display: none;
  margin-bottom: 120px;
  margin-top: 50px;
}
.mySlides4 {
  display: none;
  margin-bottom: 120px;
  margin-top: 70px;
}
.mySlides6 {
  display: none;
  margin-bottom: 120px;
  margin-top: 70px;
}
.mySlides7 {
  display: none;
  margin-bottom: 120px;
  margin-top: 70px;
}
.mySlides8 {
  display: none;
  margin-bottom: 120px;
  margin-top: 70px;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.numbertext {
  color: #f2f2f2;
  font-size: 13px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.text {
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.dot:hover {
  background-color: #717171;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
.images {
  width: 100%;
  height: 440px;
}
.images2 {
  width: 100%;
  height: 470px;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 850px) {
  .slideshow-container {
    max-width: 540px;
  }
  .images {
    width: 100%;
    height: 370px;
  }
  .images2 {
    width: 100%;
    height: 370px;
  }
  .text {
    font-size: 16px;
  }
  #logo {
    padding: 20px;
    padding-top: 23px;
    width: 114px;
  }
}

@media only screen and (max-width: 600px) {
  #logo {
    display: none;
  }
  .slideshow-container {
    max-width: 350px;
  }
  .images {
    width: 100%;
    height: 250px;
  }
  .images2 {
    width: 100%;
    height: 270px;
  }
  #contactInfo {
    font-size: 25px;
  }
  .navBar {
    display: flex;
    justify-content: space-between;
  }
  .navBar a {
    padding-top: 26px;
    font-size: 12px;
    margin-right: -10px;
  }
  .text {
    font-size: 13px;
  }
}
