* {
  margin: 0;
  padding: 0;
}
body {
  background-repeat: repeat;
  background-color: rgb(49, 49, 49);
}
.navBar {
  overflow: hidden;
  background-color: rgb(27, 27, 27);
  height: 70px;
}
.navBar a {
  float: left;
  color: #f2f2f2;
  text-align: right;
  padding: 27px 20px;
  text-decoration: none;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  vertical-align: middle;
  justify-content: space-between;
}

.navBar a:hover {
  background-color: #ddd;
  color: black;
}
.navBar a.active {
  background-color: #636363;
  color: white;
  padding-left: 20px;
}
#logo {
  padding: 40px;
  font-size: 20px;
  color: #f2f2f2;
  padding-top: 25px;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}
#contactInfo {
  color: #ffffff;
  font-family: Georgia, "Times New Roman", Times, serif;
  justify-content: center;
  margin-top: 50px;
  font-weight: 300;
  font-size: 34px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.slideshow-container {
  max-width: 720px;
  position: relative;
  margin: auto;
}
.mySlides {
  display: none;
  margin-bottom: 10px;
  margin-top: 60px;
}
.mySlides2 {
  display: none;
  margin-bottom: 40px;
}
.mySlides3 {
  display: none;
  margin-bottom: 120px;
  margin-top: 50px;
}
.mySlides4 {
  display: none;
  margin-bottom: 120px;
  margin-top: 70px;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.text {
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.active,
.dot:hover {
  background-color: #717171;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
#images {
  width: 100%;
  height: 480px;
}
#images2 {
  width: 100%;
  height: 510px;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 850px) {
  .slideshow-container {
    max-width: 540px;
  }
  #images {
    width: 100%;
    height: 380px;
  }
  #images2 {
    width: 100%;
    height: 390px;
  }
  .text {
    font-size: 16px;
  }
}

@media only screen and (max-width: 600px) {
  #logo {
    display: none;
  }
  .slideshow-container {
    max-width: 90%;
  }
  #images {
    width: 100%;
    height: 25%;
  }
  #images2 {
    width: 100%;
    height: 26%;
  }
  #contactInfo {
    font-size: 25px;
  }
  .navBar a {
    padding: 27px 10px;
  }
  .text {
    font-size: 13px;
  }
}
