* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(233, 233, 233);
}
#img {
  justify-content: center;
  height: 80%;
  width: 100%;
}
.navBar {
  overflow: hidden;
  background-color: rgb(27, 27, 27);
  height: 70px;
}
.navBar a {
  float: left;
  color: #f2f2f2;
  text-align: right;
  padding: 27px 20px;
  text-decoration: none;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  vertical-align: middle;
  justify-content: space-between;
}

.navBar a:hover {
  background-color: #ddd;
  color: black;
}
.navBar a.active {
  background-color: #636363;
  color: white;
  padding-left: 20px;
}
#logo {
  padding: 40px;
  font-size: 20px;
  color: #f2f2f2;
  padding-top: 23px;
  text-align: right;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
}
#header {
  font-size: 45px;
  color: #ffffff;
  padding-bottom: 23px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
  margin-top: -34%;
  margin-bottom: 24%;
}

#ourCompany {
  color: #f2f2f2;
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 340px 120px 0px 120px;
  display: none;
}

#ourTeam {
  color: #f2f2f2;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  margin-top: 90px;
  font-weight: 300;
  font-size: 34px;
}

#person {
  height: 180px;
  width: 175px;
  padding-left: 10%;
  padding-top: 40px;
}

#secondPart {
  padding-top: 50px;
  background-color: rgb(26, 26, 26);
}

#flex {
  display: flex;
  padding-bottom: 110px;
}

#aboutPerson {
  color: #f2f2f2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 10px;
  font-weight: 300;
  margin-right: 140px;
  margin-left: 60px;
  padding-top: 40px;
  font-size: 16px;
}

#contactInfo {
  color: #f2f2f2;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  font-weight: 300;
  font-size: 34px;
  padding-top: 70px;
  padding-bottom: 30px;
}
#thirdPart {
  background-color: rgb(41, 41, 41);
}
#contact a {
  display: block;
  color: #f2f2f2;
  padding-bottom: 20px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 24px;
  font-size: 16px;
}

#paragraph {
  color: #f2f2f2;
  margin-bottom: 0px;
  padding-top: 60px;
  padding-bottom: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 12px;
}

#footer {
  padding-top: 20px;
  background-color: rgb(41, 41, 41);
}

@media only screen and (max-width: 850px) {
  #aboutPerson {
    margin-right: 30px;
  }
  #person {
    padding-left: 3%;
  }
}
@media only screen and (max-width: 700px) {
  .navBar a {
    padding: 25px 15px;
  }
}

@media only screen and (max-width: 650px) {
  #logo {
    display: none;
  }
  #header {
    font-size: 32px;
  }
}

@media only screen and (max-width: 600px) {
  #flex {
    display: block;
    padding-bottom: 80px;
  }
  #person {
    display: flex;
    justify-content: center;
    margin-left: auto;
    height: 140px;
    width: 128px;
    margin-right: auto;
  }
  #aboutPerson {
    margin-left: 6%;
    margin-right: 6%;
    font-size: 12px;
  }

  #ourCompany {
    font-size: 9px;
    margin-left: 50px;
    margin-right: 50px;
  }
  #ourTeam{
    margin-top: 15px;

    font-size: 21px;
  }
  #contactInfo {
    font-size: 26px;
  }
  #paragraph {
    font-size: 10px;
  }
  #contact a {
    font-size: 12px;
  }

  .navBar {
    display: flex;
    justify-content: space-between;
  }
  .navBar a {
    padding: 0px;
    padding-top: 25px;
    font-size: 12px;
    margin-right: 20px;
  }
  .navBar a.active {
    padding-left: 20px;
    padding-right: 20px;
  }
  #header {
    font-size: 18px;
    margin-bottom: 18%;
  }
}
