* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #303d4b;
}
.navBar {
  overflow: hidden;
  height: 70px;
}
.navBar a {
  float: left;
  color: #ffffff;
  text-align: right;
  padding: 27px 20px;
  text-decoration: none;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  vertical-align: middle;
  justify-content: space-between;
}

.navBar a:hover {
  background-color: rgb(255, 255, 255, 0.5);
  color: black;
}
.navBar a.active {
  text-decoration: underline;
  text-decoration-thickness: 2.1px;
  text-underline-offset: 5px;
  color: rgb(255, 255, 255);
  padding-left: 20px;
}
.navBar a.active:hover {
  color: black;
}
#navItems {
  float: left;
}

#logo {
  padding: 40px;
  text-align: end;
  right: 0px;
  float: right;
  right: 0px;
  align-items: flex-end;
  justify-content: right;
  padding-top: 26px;
}
#firstImg {
  margin-top: 40px;
  width: 100%;
  height: 633px;
  object-fit: cover;
  border-radius: 9.65909px;
  /* transform: matrix(-1, 0, 0, 1, 0, 0); */

  background: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0) 80.21%
    ),
    url(https://images.unsplash.com/photo-1512917774080-9991f1c4c750?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
}

#secondImg {
  width: 100%;
  height: 633px;
  object-fit: cover;
  background: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0) 10.21%
    ),
    url("image.png");
  border-radius: 9.65909px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#thirdImg {
  width: 100%;
  height: 630px;
  object-fit: cover;
  background: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0) 70.21%
    ),
    url(https://images.unsplash.com/photo-1600596542815-ffad4c1539a9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1475&q=80);
  background-repeat: no-repeat;
  border-radius: 9.65909px;
  background-size: cover;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
#whiteBox2 {
  width: 46%;
  height: 440px;
  background: #ffffff;
  transform: matrix(1, 0, 0, 1, 70, 90);
  border-radius: 9.65909px;
}
#whiteBox1 {
  width: 46%;
  height: 440px;
  margin-left: 49%;
  -ms-transform: translateY(-50%);
  transform: translateY(25%);
  transform: translateX(-1);
  background: #ffffff;
  border-radius: 9.65909px;
}
#whiteBox3 {
  width: 46%;
  height: 440px;
  background: #ffffff;
  border-radius: 9.65909px;
  transform: matrix(-1, 0, 0, 1, 70, 90);
}
#remodeling {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 27px;
  line-height: 150%;
  color: #000000;
  padding: 70px 0px 20px 45px;
}
#commercial {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  color: #000000;
  padding: 70px 0px 20px 45px;
}
#customHome {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  color: #000000;
  padding: 70px 0px 20px 45px;
}
#remodelingParagraph {
  opacity: 0.8;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 25.7576px;
  line-height: 150%;
  font-size: 20px;
  padding-left: 45px;
  padding-right: 45px;
}

#commercialParagraph {
  opacity: 0.8;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 25.7576px;
  line-height: 150%;
  font-size: 20px;
  padding-left: 45px;
  padding-right: 45px;
}

#customHomeParagraph {
  opacity: 0.8;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 25.7576px;
  line-height: 150%;
  font-size: 20px;
  padding-left: 45px;
  padding-right: 45px;
}
@media only screen and (max-width: 850px) {
  #firstImg {
    margin-top: 80px;
    height: 330px;
  }

  #secondImg {
    height: 330px;
  }
  #thirdImg {
    height: 330px;
  }
  #whiteBox1 {
    height: 229px;
  }
  #whiteBox2 {
    height: 229px;
    transform: matrix(-1, 0, 0, 1, 320, 65);
  }
  #whiteBox3 {
    height: 229px;
    transform: matrix(-1, 0, 0, 1, 50, 65);
  }
  #remodelingParagraph {
    font-size: 11px;
    padding-left: 30px;
    padding-right: 30px;
  }
  #customHome {
    font-size: 18px;
    padding: 40px 0px 15px 30px;
  }
  #customHomeParagraph {
    font-size: 11px;
    padding-left: 30px;
    padding-right: 30px;
  }
  #commercial {
    font-size: 18px;
    padding: 40px 0px 15px 30px;
  }
  #commercialParagraph {
    font-size: 11px;
    padding-left: 30px;
    padding-right: 30px;
  }
  #remodeling {
    font-size: 18px;
    padding: 40px 0px 15px 30px;
  }
}
@media only screen and (max-width: 600px) {
  #firstImg {
    margin-top: 20%;
    height: 170px;
  }

  #secondImg {
    height: 170px;
  }
  #thirdImg {
    height: 170px;
  }
  #whiteBox1 {
    height: 120px;
  }
  #whiteBox2 {
    height: 120px;
    transform: matrix(-1, 0, 0, 1, 114, 30);
  }
  #whiteBox3 {
    transform: matrix(-1, 0, 0, 1, -116, 32);

    height: 120px;
  }
  #remodelingParagraph {
    font-size: 8px;
    padding-left: 14px;
    padding-right: 14px;
  }
  #customHome {
    font-size: 10px;
    padding: 14px 0px 6px 14px;
  }
  #customHomeParagraph {
    font-size: 8px;
    padding-left: 14px;
    padding-right: 14px;
  }
  #commercial {
    font-size: 10px;
    padding: 14px 0px 6px 14px;
  }
  #commercialParagraph {
    font-size: 8px;
    padding-left: 14px;
    padding-right: 14px;
  }
  #remodeling {
    font-size: 10px;
    padding: 14px 0px 6px 14px;
  }
  .navBar {
    display: flex;
    justify-content: space-between;
  }
  .navBar a {
    padding-top: 26px;
    font-size: 12px;
    margin-right: -10px;
  }
  #logo {
    display: none;
  }
  #firstPage {
    height: 60vh;
  }
}
@media only screen and (max-width: 500px) {
  #whiteBox1 {
    margin-left: 35%;
    width: 62%;
  }
  #whiteBox2 {
    margin-left: 4%;
    width: 62%;
  }
  #whiteBox3 {
    margin-left: 35%;
    width: 62%;
  }
  #remodelingParagraph {
    font-size: 7px;
  }
  #customHomeParagraph {
    font-size: 7px;
  }
  #commercialParagraph {
    font-size: 7px;
  }
}
